<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="/company/css/style.default.css" rel="stylesheet" id="theme-stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/company/css/index.css" rel="stylesheet" type="text/css">

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand home" href="index.html">
                <img src="/img/logo.png" alt="Universal logo" class="hidden-xs hidden-sm">
                <img src="/img/logo-small.png" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Universal - go to homepage</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right header_text">
                <li><a href="#about">회사소개</a></li>
                <li><a href="#services">기술소개</a></li>
                <li><a href="#portfolio">O2O소개</a></li>
                <li><a href="#pricing">FAQ</a></li>
                <li><a href="#contact">문의하기</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 비디오 -->
<section class="video-all">
    <div class="video-container">

        <p class="video-title">
            <img src="/img/timestory.png">
        </p>
        <video class="main-video" loop="true" autoplay>
            <source src="/company/main.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <img class="main-img" style="margin-top: 0px;" src="/video_img.jpg">
    </div>
</section>
<!-- 비디오 -->

<!-- 회사 소개 -->
<section class="bar background-white" id="about">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>회사 소개</h2>
            </div>
            </br></br></br>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-simple">
                        <h4>Trust</h4>
                        <div>
                            <img src="/img/trust.png" width="150px" height="150px">
                        </div>
                        <h3>신뢰</h3>
                        <p> 탄탄한 성장을 어시스트 </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple">
                        <h4>TimeLapse</h4>
                        <div>
                            <img src="/img/time.png" width="150px" height="150px">
                        </div>
                        <h3>타임랩스</h3>
                        <p> 성장과 스토리 </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple">
                        <h4>Market</h4>
                        <div>
                            <img src="/img/market.png" width="150px" height="150px">
                        </div>
                        <h3>마켓</h3>
                        <p> 새로운 시장 개척 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 회사 소개 완료 -->

<!-- 기술 소개 -->
<section class="bar background-pentagon no-mb" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>기술 소개</h2>
                </div>
                <!-- *** TESTIMONIALS CAROUSEL ***
_________________________________________________________ -->

                <div class="text-center-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="text-uppercase">라즈베리파이</h2>
                                <p class="lead mb-small"><strong>카메라 제어</strong></p>
                                <p class="mb-small"> - 파이카메라 시간설정, 자동촬영 기능제어</p>
                                <p class="lead mb-small"><strong>서버 송수신</strong></p>
                                <p class="mb-small"> - 스프링 서버로 이미지 자동전송</p>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="/img/template-easy-customize.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center-sm">
                    <div class="container">
                        <div class="row position">
                            <div class="col-md-6">
                                <h2 class="text-uppercase">타임랩스</h2>
                                <p class="lead mb-small"><strong>타임랩스 영상화</strong></p>
                                <p class="mb-small">사진파일 통합 영상처리</p>
                                </p>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="/img/template-easy-code.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="text-uppercase">FFMPEG</h2>
                                <p class="lead mb-small"><strong>자동인코딩</strong></p>
                                <p class="mb-small"> - 사진파일 자동 인코딩 처리</p>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="/img/ffmpeg-logo.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- 기술소개 완료 -->

<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
                </div>
                <h3 class="text-uppercase">Do you want to see more?</h3>
                <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
                <p class="text-center">
                    <a href="index" class="btn btn-template-transparent-black btn-lg">Check other homepage</a>
                </p>
            </div>

        </div>
    </div>
</section>

<!-- 유통과정 소개 -->
<section class="bar background-white no-mb" id="portfolio">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2> 유통 과정 </h2>
            </div>

            <p class="lead text-center">생산자와 소비자의 신뢰를 바탕으로 새로운 트렌드를 만들어 깨끗한 먹거리 안전한 먹거리 문화활성화</p>

            <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

            <div class="row">
                <img src="/company/img/circul.jpg" class="img-circul">
            </div>
            <!-- /.row -->
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- 유통과정 완료 -->

<!-- FAQ -->
<section class="bar background-gray no-mb" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>FAQ</h2>
                </div>
                <div id="content">
                    <div class="container">
                        <div class="row">
                            <!-- *** LEFT COLUMN ***
                     _________________________________________________________ -->

                            <div class="col-md-9 clearfix faq" >
                                <section>

                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">

                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq1">

                                                        1. 두덕리 코딩단은 뭐하는 사람들인가요?

                                                    </a>

                                                </h4>
                                            </div>
                                            <div id="faq1" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                        semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                    <ul>
                                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                                        <li>Vestibulum auctor dapibus neque.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">

                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

                                                        2. 타임랩스는 어디에 쓸수 있나요?

                                                    </a>

                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->


                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">

                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                                        3. 카메라는 설치해주시나요?

                                                    </a>

                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">

                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq4">

                                                        4. 마켓에 입점하는 방법은?

                                                    </a>

                                                </h4>
                                            </div>
                                            <div id="faq4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                        semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                    <ul>
                                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                                        <li>Vestibulum auctor dapibus neque.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">

                                                    <a data-toggle="collapse" data-parent="#accordion" href="#faq5">

                                                        5. 판매상품을 보고 싶어요

                                                    </a>

                                                </h4>
                                            </div>
                                            <div id="faq5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                        semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                    <ul>
                                                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                                        <li>Aliquam tincidunt mauris eu risus.</li>
                                                        <li>Vestibulum auctor dapibus neque.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.panel -->

                                    </div>
                                    <!-- /.panel-group -->

                                    <p class="text-muted text-center">In case you haven't found the answer for your question please feel free to <a href="contact.html">contact us</a>, our customer support will be happy to help you.</p>
                                </section>

                            </div>
                            <!-- /.col-md-9 -->

                            <!-- *** LEFT COLUMN END *** -->

                            <!-- *** RIGHT COLUMN ***
                        _________________________________________________________ -->

                            <!-- *** RIGHT COLUMN END *** -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.container -->
                </div>
                <!-- /#content -->

            </div>

        </div>
    </div>
</section>
<!-- FAQ 완료 -->

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="googleMap" style="height:400px;width:100%;"></div>

<!-- Add Google Maps -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/company/js/map.js"></script>
<script src="/company/js/scroll.js"></script>
<script src="/company/js/timelapse.js"></script>

<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Bootstrap Theme Made By <a href="http://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
</footer>

</body>
</html>

